<h1>Welcome to the Ruby Twitter Client</h1>
<h3>In order to display the tweets of your choice, please enter a search term:</h3>
<%= form_tag("twitter_client", method: "get") do %>
  <%= text_field_tag "search"%>
  <%= submit_tag "Find Tweets" %>
<% end %>
<% if @search_term.present? %>
  <h3>Here are the 100 most recent tweets for '<%= @search_term %>'</h3>
  <table>
    <tr>
      <th>User</th>
      <th>Tweed</th>
      <th>Date</th>
    </tr>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user.screen_name %></td>
        <td><%= tweet.text %></td>
        <td><%= tweet.created_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>

